<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subreddit Sentiment Analysis</title>
</head>
<body>
    <h1>Subreddit Sentiment Analysis</h1>
    <form method="post" action="/">
        <label for="subreddit">Subreddit: r/</label>
        <input type="text" id="subreddit" name="subreddit" required>
        <br>
        <label for="search_term">Enter a search term related to desired subreddit:</label>
        <input type="text" name="search_term" id="search_term" required>
        <button type="submit">Generate Spreadsheet</button>
    </form>
</body>
</html>
